<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseCampusServlet</servlet-name>
        <servlet-class>servlet.ChooseCampusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcademicLoginServlet</servlet-name>
        <servlet-class>servlet.AcademicLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudentServlet</servlet-name>
        <servlet-class>servlet.ViewStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptStudentServlet</servlet-name>
        <servlet-class>servlet.AcceptStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectStudentServlet</servlet-name>
        <servlet-class>servlet.RejectStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationStudentServlet</servlet-name>
        <servlet-class>servlet.InformationStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/student/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseCampusServlet</servlet-name>
        <url-pattern>/student/ChooseCampusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcademicLoginServlet</servlet-name>
        <url-pattern>/academic/AcademicLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudentServlet</servlet-name>
        <url-pattern>/academic/ViewStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptStudentServlet</servlet-name>
        <url-pattern>/academic/AcceptStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectStudentServlet</servlet-name>
        <url-pattern>/academic/RejectStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationStudentServlet</servlet-name>
        <url-pattern>/academic/InformationStudentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
